.title-message{
    font-size: 3rem;
    color:var(--color)
}
.info span {
    font-size: 1.7rem;
    color: #ffffff;
    text-align: justify;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
.messages-grid{
    display: grid;
    row-gap: 3rem;
}
