header{
    position: fixed;
    top:0; left:0;
    z-index: 1000;
    height:100%;
    width:35rem;
    background:#1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .user img{
    height:17rem;
    width:17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border:.7rem solid var(--color);
}

header .user .name{
    font-size: 3.5rem;
    color:#fff;
}

header .user .post{
    font-size: 2rem;
    color: var(--color);
}

header .navbar{
    width:100%;
}

header .navbar> ul{
    list-style: none;
    padding:1rem 3rem;
}

header .navbar> ul li a{
    display: block;
    padding:1rem;
    margin:1.5rem 0;
    background:#333;
    color:#fff;
    font-size: 2rem;
    border-radius: 5rem;
}

header .navbar> ul li a{
    align-self: center;
}
header .navbar> ul li{
    align-self: center;
}
header .navbar> ul li a:hover{
    background:var(--color);
}

#menu{
    position: fixed;
    top:2rem; right:2rem;
    background:#333;
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    padding:1rem 1.5rem;
    z-index: 1000;
    display: none;
}

.icon-nav {
    font-size: 18px;
    margin: 0px 10px;
    margin-top: 5px;
    color:var(--color);
}
.footer-social-media{
    display: flex;
    position: absolute;
    bottom: 3rem;
    text-align: center;
    width: inherit;
}
.header-social-media{
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.header-social-media li{
    font-size: 3rem;
    color: var(--color);
    text-decoration: none;
}
.header-social-media li a{
    color: var(--color);
}